jupyter-sphinx
numpydoc
psutil
plotly
kaleido
pillow
ipython
ipykernel
ipywidgets
sphinx
nbsphinx
nbformat
nbconvert>5.4
pydata_sphinx_theme
sphinxcontrib-bibtex
sphinx_design
sphinxcontrib-video
typer
cogent3[doc] @ git+https://github.com/cogent3/cogent3.git@develop
