.hidden {
    display: none;
}

.dropdown-menu-right {
    left: 30px !important;
}

.side-nav {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 320px;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    border-right: 2px solid rgba(0,0,0,0.1);
}

.side-nav-container {
    width: 335px;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
}

ul, ol, dl {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: none;
}

.side-nav-menu li.toctree-l1 a {
    display: block;
    color: #404040;
    padding: 3px 45px;
}

.side-nav-menu li.toctree-l1.current>a {
    background-color: #347DBE;
    color: white;
    font-weight: normal;
}

.side-nav-menu li.toctree-l2>a {
    padding-left: 60px;
    font-size: 90%;
}
.side-nav-menu li.toctree-l3>a {
    padding-left: 70px;
    font-size: 85%;
}
.side-nav-menu li.toctree-l4>a {
    padding-left: 80px;
    font-size: 80%;
}



.side-nav-menu li.current {
    background: rgba(0,0,0,0.1);
}

.side-nav-menu li.current>a {
    font-weight: bold;
}

.side-nav-menu li>a span.directlink {
    float: left;
    margin-left: -17px;
}

.side-nav-menu li>a span.directlink:before,
.side-nav-menu li.current>a span.directlink:before,
.side-nav-menu li.collapsed>a span.expandable:before,
.side-nav-menu li.expanded>a span.expandable:before,
.admonition-title:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}

.side-nav-menu li>a span.directlink:before {
    font-size: 90%;
    content: "";
}

.side-nav-menu li.current>a span.directlink:before {
    font-size: 90%;
    content: "";
}

.side-nav-menu li.collapsed>a span.expandable:before {
    font-size: 90%;
    content: "";
}

.side-nav-menu li.expanded>a span.expandable:before {
    font-size: 90%;
    content: "";
}

.side-nav-menu ul.collapsed_items {
    display: none;
}

#navbar-main-menu {
    flex-grow: 0;
}

#navbar-main {
    position: fixed;
    min-width: 100%;
    background-color: #347DBE !important;
    border: 1px solid #015CAE;
}

#navbar-main a:not(.dropdown-item) {
    color: white;
}

#main-section {
    margin-top: 60px;
    min-height: 100%;
}

.has-nav {
    margin-left: 350px;
}

pre {
    padding: 12px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    background: #f5f5f5;
}

.admonition {
    padding: 12px;
    line-height: 24px;
    margin-bottom: 24px;
    background: #e7f2fa;
}

.admonition.warning {
    background: #ffedcc;
}

.admonition-title:before {
    content: "";
    margin-right: 4px;
}

.admonition-title {
    font-weight: 700;
    display: block;
    color: #fff;
    background: #6ab0de;
    padding: 6px 12px;
    margin: -12px -12px 12px;

    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
}

.admonition.warning .admonition-title{
    background: #f0b37e;
}

:target:before {
    content: "";
    display: block;
    height: 60px;
    margin: -60px 0 0;
}

footer {
    z-index: 1;
}

code {
    color: black;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

/* SPHINX PANELS */
.card-header .card-text {
    color: white;
}
.card-header .card-text code {
    color: white;
}

/* SEARCH PAGE */
ul.search a {
    display: block;
    padding: 15px 12px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    background: #f5f5f5;
    margin-bottom: 6px;
}


